<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROJECT_.Net.Properties.Settings.Xuong_May_Gia_CongConnectionString"
            connectionString="Data Source=DESKTOP-88IJ7VF\SQLEXPRESS;Initial Catalog=Xuong_May_Gia_Cong;Persist Security Info=True;User ID=sa;Password=1234567"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
